.productItem {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.image {
  width: 70px;
  float: left;
  margin-right: 25px;
}
.name {
  font-size: 20px;
  margin-bottom: 10px;
}
.price {
  font-weight: 600;
  color: red;
}
.del {
  position: relative;
  float: right;
  color: red;
  top: -25px;
  cursor: pointer;
  transition: transform 500ms ease;
  &:hover,
  &:focus {
    transform: scale(1.4);
    color: rgb(245, 146, 8);
  }
}
