@import "../../Shared/styles/index";

.loginForm {
  margin: 0 auto;
  border-radius: 10px;
  background: rgb(36, 10, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 10, 0, 1) 0%,
    rgba(181, 5, 5, 1) 35%,
    rgba(255, 0, 0, 1) 100%
  );
  box-shadow: 1px 1px 5px black;
  width: 260px;
  height: 300px;
  @media screen and (min-width: $tablet) {
    width: 700px;
  }
  @media screen and (min-width: $desktop) {
    width: 1100px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.login {
  display: block;
  margin: 0 auto;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  border: 2px solid red;
  color: white;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    box-shadow: #710303 180px 0px 1px inset;
    font-weight: bold;
    border-color: white;
  }
}
