.logo {
  font-weight: 600;
  font-size: 20px;
}
.baner {
  position: relative;
  margin: 50px 0;
  background: url("../../Shared/Images/mag.jpg") no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply; //позволяет наложить цвет на картинку
  background-color: #bcbcbc;
}
.baner::after {
  content: "Найкращі товари для вашого дому";
  position: absolute;
  top: 150px;
  left: 50px;
  width: 400px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.baner::before {
  content: "за найнижчіми цінами";
  position: absolute;
  top: 250px;
  left: 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.nav {
  float: right;
}
.nav_item {
  display: inline;
  margin-right: 25px;
  cursor: pointer;
  transition: opacity, color 500ms ease;
}
.nav_item:hover,
.nav_item:focus {
  opacity: 0.5;
  color: #1f8714;
}
.shoppingCartButton {
  float: right;
  cursor: pointer;
  margin-right: 25px;
  transition: color, transform 500ms ease;
  &:hover,
  &:focus,
  &.active {
    color: #1f8714;
    transform: scale(1.5);
  }
}
.pusto {
  font-size: 20px;
}
